<!--
    Robert Cox
	/19/2020
	url: http://rcox.greenriverdev.com/IT328/dating
	The home page view for rcox.greenriverdev.com/IT328/dating. A dating website for monsters.
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" href="styles/style.css">
        <title>MonsterFinder</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm fixed-top bg-light border-bottom mb-sm-2">
            <a class="navbar-brand" href="#">MonsterFinder</a>
            <ul class="navbar-nav text-right">
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign up</a>
                </li>
            </ul>
        </nav>
        <hr class="mb-5">
        <div class="container-fluid p-5">
            <div class="row p-3 border rounded">
                <div class="col-sm-7 p-0">
                    <div class="background-image rounded"></div>
                </div>

                <div class="col-sm-5">
                    <h1 class="text-center">MonsterFinder</h1>
                    <p>Begin by creating a new project in GitHub called ‘dating’. Make sure your project has a
                        readme file. Clone your project to your 328 directory on greenriverdev. Commit frequently,
                        and make sure that your commits have a meaningful comment. You should have a minimum of 5
                        commits for this assignment.</p>

                    <h4 class="text-center">Our Monster Members Love MonsterFinder</h4>
                    <hr>
                    <div class="container">
                        <em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, quasi!"  --Alison S.</em><br>
                        <em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, quasi!"  --Braker C.</em><br>
                        <em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, quasi!"  --Dracora M.</em><br>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button class="btn-success rounded" type = "button">Join Now!</button>
                    </div>
                </div>
            </div>

        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous">

        </script>
    </body>
</html>