<!--
    Robert Cox
	1/19/2020
	url: http://rcox.greenriverdev.com/IT328/dating
	The home page view for rcox.greenriverdev.com/IT328/dating. A dating website
	for monsters.
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" href="styles/style.css">
        <title>MonsterFinder</title>
    </head>
    <body>
        <!--Navigation Bar-->
        <nav class="navbar navbar-expand-sm fixed-top bg-light border-bottom">
            <a class="navbar-brand" href="#">MonsterFinder</a>
            <ul class="navbar-nav text-right">
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign up</a>
                </li>
            </ul>
        </nav>
        <hr class="mb-5">
        <!--Container with 1 row and two columns, stacked on small devices-->
        <div class="container-fluid p-5">
            <div class="row p-3 border rounded">
                <div class="col-sm-7 p-0 order-sm-12">
                    <div class="background-image rounded"></div>
                </div>

                <div class="col-sm-5 order-sm-1">
                    <h1 class="text-center">MonsterFinder</h1>
                    <p>Welcome to MonsterFinder! In a world that's dominated by
                       humans, there is now a place where you can come out of
                       the closet, the shadows, and from under the bed. At
                       MonsterFinder you can connect with others just like
                       you!</p>
                    <h4 class="text-center">
                        Our Monster Members Love MonsterFinder
                    </h4>
                    <hr>
                    <div class="container px-4">
                        <em>"I met the creepiest monster ever...
                            it was wonderful!"
                            <span>-&nbsp;Alison&nbsp;S.</span>
                        </em>
                        <br>
                        <em>"I'll never dine on humans alone again, thanks to
                            MonsterFinder!"
                            <span>-&nbsp;Braker&nbsp;C.</span>
                        </em>
                        <br>
                        <em>"With MonsterFinder, you can find local monsters to
                            terrorize the neighborhood."
                            <span>-&nbsp;Dracora&nbsp;M.</span>
                        </em>
                        <br>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button class="btn-success rounded" type = "button"
                                id="join-btn">
                            Join Now!
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--jQuery, popper, and Bootstrap JS-->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous">
        </script>
    </body>
</html>