<!--
    Robert Cox
	1/19/2020
	url: http://rcox.greenriverdev.com/IT328/dating
	The home page view for rcox.greenriverdev.com/IT328/dating. A dating website
	for monsters.
-->
<include href="php/htmlHead.php"></include>
    <include href="php/site-nav-bar.php"></include>
        <!--Container with 1 row and two columns, stacked on small devices-->
        <div class="container-fluid p-5">
            <div class="row p-3 border rounded home-row">
                <div class="col-sm-7 p-0 order-sm-12 bkgd-img">
                    <div class="background-image rounded"></div>
                </div>

                <div class="col-sm-5 order-sm-1">
                    <h1 class="text-center">MonsterFinder</h1>
                    <p>Welcome to MonsterFinder! In a world that's dominated by
                       humans, there is now a place where you can come out of
                       the closet, the shadows, and from under the bed. At
                       MonsterFinder you can connect with others just like
                       you!</p>
                    <h4 class="text-center">
                        Our Monster Members Love MonsterFinder
                    </h4>
                    <hr>
                    <div class="container px-4">
                        <em>"I met the creepiest monster ever...
                            it was wonderful!"
                            <span>-&nbsp;Alison&nbsp;S.</span>
                        </em>
                        <br>
                        <em>"I'll never dine on humans alone again, thanks to
                            MonsterFinder!"
                            <span>-&nbsp;Braker&nbsp;C.</span>
                        </em>
                        <br>
                        <em>"With MonsterFinder, you can find local monsters to
                            terrorize the neighborhood."
                            <span>-&nbsp;Dracora&nbsp;M.</span>
                        </em>
                        <br>
                    </div>
                    <hr>
                    <div class="text-center">
                        <a href="personal-form" class=" btn btn-success rounded"
                                id="join-btn">
                            Join Now!
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <include href="php/htmlBSjsJQuery.php"></include>
