<!--
    Robert Cox
	1/26/2020
	url: http://rcox.greenriverdev.com/IT328/dating
	This opens the body of the html and adds a nav-bar.
-->
<body>
<!--Navigation Bar-->
<nav class="navbar navbar-expand fixed-top bg-light border-bottom">
    <a class="navbar-brand text-dark" href="../dating">MonsterFinder</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link text-dark" href="admin">Admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="personal-form">Sign up</a>
        </li>
    </ul>
</nav>
<hr class="mb-5">
