@charset "UTF-8";
/**
 * @author     Robert Cox
 * @version    1.0.0
 * @link       http://rcox.greenriverdev.com/IT328/chicken
 * @since      1/19/2020
 *
 * Styling for for a monster dating website.
 */

.background-image {
    background-image: url('../images/smiley-monster.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
}

.row {
    height: 75vh;
}

/*font control inspired by
https://stackoverflow.com/questions/48572331/how-to-create-responsive-text-in-bootstrap-4 */
html {
    font-size: 0.6rem;
}
@media (min-width: 576px) {
    .background-image {
        height: 70%;
    }
    html { font-size: 0.75rem; }
}
@media (min-width: 800px) {
    html { font-size: 1rem; }
}
@media (min-width: 992px) {
    html { font-size: 1rem; }
}
