@charset "UTF-8";
/**
 * @author     Robert Cox
 * @version    1.0.0
 * @link       http://rcox.greenriverdev.com/IT328/dating
 * @since      1/19/2020
 *
 * Styling for for a monster dating website.
 */

.background-image {
    background-image: url('../images/smiley-monster.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
}

@media (max-width: 576px) {
    .bkgd-img {
        height: 175px;
    }
}

hr {
    border-top: 1px solid #bbbbbb;
}

#privacy-note {
    background-color: #b3b7bb;
}

.home-row {
    min-height: 65vh;
}

#profile-pic {
    width: 100%;
}

/*font control inspired by
https://stackoverflow.com/questions/48572331/how-to-create-responsive-text-in-bootstrap-4 */
html {
    font-size: 0.7rem;
}
@media (min-width: 576px) {
    html { font-size: 0.75rem; }
}
@media (min-width: 800px) {
    html { font-size: 1rem; }
}

/*for error messages*/
.err {
    color: red;
    font-size: 0.8em;
}
